# ignore all files except the ones below with !
.ipynb_checkpoints
zzJunk
*.xlsx
*.csv
*.log
.vs*



# ignore sub-folders
**/bin/.vs*
**/bin/_pycache_
**/bin/__pycache__/
**/zArchives
**/data/log/


# But do not ignore these files
!*.ipynb
!*.MD
!*.md
!*.svg
!*.pkl


